{% extends 'base.html'%}

{% block title %}
    Student list
{% endblock %}


{% block content %}

<style>

    th, td {
        border: 1px solid black;
    }
</style>

<h1>Student list</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for pupil in students_list %}
            <tr>
                <td>{{ pupil.id }}</td>
                <td>{{ pupil.name }}</td>
                <td>{{ pupil.score }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}